th{
    background-color: #04A96D;
    color: white;
    text-align: left;
    padding: 10px;
}

table{
    border: 1px solid grey;
    width:800px;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

td{
    padding: 10px;
}

.grey{
    background-color: lightgray;
}