body{
    display: flex;
    justify-content: space-between;
    margin: 5px 100px 0 5px;
}

.vertical, .horizontal{
    list-style-type: none;
}

.vertical{
    width: 100px;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

.vertical #home{
    background-color: orange;
    color: white;
}

li a{
    display: block;
    padding: 5px;
    text-decoration: none;
    color: blue;
}

.horizontal li{
    float: left;
    background-color: lightgrey;
    border-right: 1px solid blue;
}

.horizontal{
    margin: 0;
    padding-top: 10px;
    overflow: hidden;
}

.horizontal #home{
    background-color: grey;
    color: white;
}